:root {
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --green: #31d0aa;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --lightslate: #8e8f99;
  --text-size: 16px;
  --text-height: 1.5;
  --text-weight: 500;
  --text-spacing: 0.02em;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--slate);
  font-size: var(--text-size);
  line-height: var(--text-height);
  letter-spacing: var(--text-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.page-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: var(--text-spacing);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.page-subtitle {
  color: var(--navyblue);
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 1.2;
  letter-spacing: var(--text-spacing);
  margin-bottom: 8px;
}

.page-text {
  color: var(--slate, #434455);
  font-size: var(--text-size);
  font-style: normal;
  font-weight: var(--text-weight);
  line-height: var(--text-height);
  letter-spacing: var(--text-spacing);
}

/* __________________HEADER________________ */
.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.header-logo {
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.header-logo span {
  color: var(--navyblue);
}

.header-contacts,
.header-list {
  display: none;
}

.header-modal-button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  padding: 0;
}

.header-modal-icon {
  fill: var(--navyblue);
}

.mobille-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  padding: 24px 24px 40px 40px;
  z-index: 2;
}
.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 32px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.mobille-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobille-menu-item {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.activ {
  color: var(--ocean, #404bbf);
}

.mobille-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobille-menu-contacts-tel {
  color: var(--iris);
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobille-menu-contacts-email {
  color: var(--slate);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.mobille-menu-socials-list {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 26px;
}
.mobille-menu-socials-item {
  width: 40px;
  height: 40px;
}
.mobille-menu-ref {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobille-menu-icon {
  fill: var(--cloud);
}

/* __________________HERO________________ */
.hero {
  background-color: var(--navyblue);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 428px;
  margin: 0 auto;
}

.hero-title {
  max-width: 320px;
  color: var(--white);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: var(--text-spacing);
  margin: 0 auto;
  margin-bottom: 72px;
  text-transform: capitalize;
  text-align: center;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  background: var(--iris);
  color: var(--white);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-height);
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border: none;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* __________________DESCRIPTION________________ */

.description {
  padding-top: 96px;
  padding-bottom: 96px;
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.description-item {
  width: 100%;
}

.description-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: var(--text-spacing);
  margin-bottom: 8px;
}

.description-block {
  display: none;
}

/* __________________DOING_______________ */

.doing {
  display: none;
}

/* __________________TEAM________________ */

.team {
  background-color: var(--cloud);
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-block {
  padding: 32px 0;
}

.team-subtitle {
  text-align: center;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-block-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 24px;
}

.team-block-item {
  width: 40px;
  height: 40px;
}

.team-ref {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-ref:hover,
.team-ref:focus {
  background-color: var(--ocean);
}

.team-icon {
  fill: var(--cloud);
}

/* __________________CUSTOMERS________________ */

.customers {
  background-color: var(--white);
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 72px;
  justify-content: center;
}

.customers-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-ref {
  width: 100%;
  height: 100%;
  color: var(--lightslate);
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-ref:hover,
.customers-ref:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customers-icon {
  fill: currentColor;
}

/* __________________FOOTER_______________ */
.footer {
  background-color: var(--navyblue);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-cntnr {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.logo-footer {
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.logo-footer span {
  color: var(--cloud);
}

.page-text-footer {
  color: var(--cloud);
  font-size: var(--text-size);
  font-weight: 400;
  line-height: var(--text-height);
  letter-spacing: var(--text-spacing);
  max-width: 268px;
}

.footer-subtitle {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: var(--text-size);
  font-style: normal;
  font-weight: var(--text-weight);
  line-height: var(--text-height);
  letter-spacing: var(--text-spacing);
  margin-bottom: 16px;
  text-align: center;
}

.footer-social {
  margin-bottom: 72px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-ref {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-ref:hover,
.footer-ref:focus {
  background-color: var(--green);
}

.footer-icon {
  fill: var(--cloud);
}

.footer-submit-icon {
  fill: var(--cloud);
  margin-left: 16px;
}

.footer-sub-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-btn {
  font-family: "Roboto", sans-serif;
  background: var(--iris);
  color: var(--white);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-height);
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 4px;
  width: 165px;
  height: 40px;
  margin: 0 auto;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input {
  color: var(--white);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-height);
  letter-spacing: 0.04em;
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: var(--white);
}

/* __________________PORTFOLIO_______________ */

.main-page {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filters-btn {
  font-family: "Roboto", sans-serif;
  background: var(--cloud);
  color: var(--iris);
  text-align: center;
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-height);
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.main-page-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-link:hover,
.main-page-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.main-page-link:hover .overlay {
  transform: translateY(0);
}

.main-page-link:focus .overlay {
  transform: translateY(0);
}

.card-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--cloud);
  background-color: var(--iris);
  font-family: Roboto;
  font-size: var(--text-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-height);
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.main-page-item {
  width: calc((100% - 48px) / 3);
}

.card-item-text {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* __________________MODAL_______________ */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 318px;
  min-height: 584px;
  padding: 72px 16px 24px 16px;
  /* padding-top: 72px; */
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--white);
  background-color: var(--ocean);
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  width: 100%;
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: var(--text-size);
  font-style: normal;
  font-weight: var(--text-weight);
  line-height: var(--text-height);
  letter-spacing: var(--text-spacing);
  margin-bottom: 16px;
}

.input-field {
  position: relative;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--lightslate);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 0 10px 0 38px;
  font-size: 18px;
  color: var(--navyblue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textfield {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--iris);
}

.modal-input:focus + .modal-icon {
  fill: var(--iris);
}

.modal-privacy {
  margin-bottom: 24px;
}

.privacy-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate, #8e8f99);
}

.privacy-label-item {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-privacy-input:checked + .privacy-label .privacy-label-item {
  fill: var(--cloud);
  border: none;
  background-color: var(--ocean);
}

.privacy-ref {
  color: var(--iris, #4d5ae5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
